body{
margin:0px;
background-color:rgba(0,0,0,0.9);
}
// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 17;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img.mainlogo{
cursor:pointer;
box-shadow:0 0 5px 1px white;
height:35px;
width:35px;
margin:5px;
}
img.mainlogo:hover{
border:solid yellow 2px;
}
div.head{
box-shadow:3px 3px 10px 2px rgba(100,100,100,0.5);
}
#maint{
margin-top:10px;
font-family: 'Balsamiq Sans', cursive;
margin-left:55px;
color:white;
}
span.mspan{
margin-top:7px;
float:right;
}
#selected{
color: #f1f1f1;
}
.head{
background-color:#111;
z-index:16;
overflow:hidden;
position:fixed;
top:0;
width:100%;
}
#carouselExampleCaptions{
margin-top:58px;
}
#funp{
text-align:center;
color:yellow;
font-size:25px;
}
.contentdiv{
margin-top:58px;
}
h3.heading{
margin:5px;
text-align:center;
color:#ffffff;
text-shadow: 1px 1px 2px #ffff00;
}
p.detail{
color:#ffffff;
padding:8px;
}
#mycard{
font-family: 'Slabo 27px', serif;
background-color:#002830;
border-radius:8px;
margin-top:8px;
margin:8px;
box-shadow:2px 2px 4px 0 #99ff00;
}
#mycard:hover{
box-shadow:0px 0px 10px 2px #99ff00;
}
h5.heading{
color:yellow;
padding:5px;
}
#mainh{
text-align:center;
padding:8px;
font-family: 'Balsamiq Sans', cursive;
}
.col{
padding:8px;
}
.card{
margin:5px;
box-shadow: 2px 2px 5px 0 rgba(255,255,255,0.8);
padding:8px;
background-color:#002830;
}
.card-body{
color:white;
}
.card-img-top{
margin-left:20px;
border-radius:20px;
height:150px;
width:150px;
}
.card:hover{
box-shadow: 3px 3px 10px rgba(255,255,255,0.8);
}
.card-title{
font-family: 'Balsamiq Sans', cursive;
}
.card-text{
font-family: 'Slabo 27px', serif;
}